<div class="bg-image"></div>
<div style="z-index: 10000; position: absolute; width: 100%">
    <!-- <alert></alert> -->
    <!-- <div [hidden]="(availService.api_available.value)" class="alert alert-danger text-center">
    API Inacessível
  </div> -->
</div>
<div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img
                src="assets/layout/images/{{
                    config.dark ? 'logo-white' : 'logo-dark'
                }}.svg"
                alt="Sakai logo"
                class="mb-5"
                style="width: 81px; height: 60px"
            />
        </div>
        <div
            class="col-12 xl:col-6"
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
                style="
                    border-radius: 53px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 38.9%,
                        var(--surface-0)
                    );
                "
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Sumé | Sistema Integrado de Gestão
                    </div>
                    <span class="text-600 font-medium"
                        >Efetue o login para continuar</span
                    >
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <p-inputMask
                        id="username"
                        type="text"
                        placeholder="CPF"
                        styleClass="w-full mb-3"
                        [(ngModel)]="userData.username"
                        [unmask]="true"
                        mask="999.999.999-99"
                    ></p-inputMask>
                    <p-password
                        id="password"
                        [(ngModel)]="userData.password"
                        placeholder="Senha"
                        [toggleMask]="true"
                        [feedback]="false"
                        styleClass="w-full mb-3"
                    ></p-password>

                    <div
                        class="flex align-items-center justify-content-between mb-5"
                    >
                        <div class="flex align-items-center">
                            <p-checkbox
                                id="rememberme1"
                                [binary]="true"
                                styleClass="mr-2"
                            ></p-checkbox>
                            <label for="rememberme1">Lembrar CPF</label>
                        </div>
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            >Esqueceu a senha?</a
                        >
                    </div>
                    <button
                        pButton
                        pRipple
                        label="Logar"
                        class="w-full p-3 text-xl"
                        (click)="onSubmit()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
